<div class="header"> 
  <div class="title">Hello 👋. </div>
  <div class="title">I'm Lucio Antonio Murature</div>

  <img src="../../assets/profile.jpeg" class="header-img"/>
  <div class="title">Systems Engineer & Fullstack Developer</div>
  <div class="header-attributes">
    <li>
      <span class="header-attributes-name">Age: </span> 22
    </li>
    <li>
      <span class="header-attributes-name">Github: </span> <a target="_blank" href="https://github.com/lmurature">lmurature</a>
    </li> 
    <li>
      <span class="header-attributes-name">Email: </span> <a target="_blank" href="mailto:luciomurature@gmail.com">luciomurature@gmail.com</a>
    </li>    
    <li>
      <span class="header-attributes-name">Location: </span> <a target="_blank" href="https://www.google.com.ar/maps/place/C%C3%B3rdoba/@-31.3992876,-64.264384,12z/data=!3m1!4b1!4m5!3m4!1s0x9432985f478f5b69:0xb0a24f9a5366b092!8m2!3d-31.4200938!4d-64.1887379">Cordoba, Argentina</a>
    </li>
    <li>
      <span class="header-attributes-name">LinkedIn: </span> <a target="_blank" href="https://www.linkedin.com/in/lucio-murature/">https://www.linkedin.com/in/lucio-murature/</a>
    </li>
  </div>
</div>
