.about {
  padding-top: 70px;
  padding-bottom: 150px;
  padding-left: 5rem;
  padding-right: 5rem;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-data {
    text-align: left;
    font-size: 18px;
    margin-top: 10px;
  }
}