<div class="about">
  <h1>About</h1>
  <div class="about-data">
    <p>
      I’m a 22 year old Fullstack Software Developer, currently
      finishing my Engineering degree, living in Argentina,
      and working as a Software Engineer at Mercado
      Libre (NASDAQ: $MELI).
    </p>
    <p>
      I consider myself an enthusiast of scalable and
      well-tested software development, which can
      provide value to users and the business.
    <p>
      I have 2.5+ years of experience on backend
      development using mainly Golang, Node.js and Java.
      Additionally, strong background in frontend
      development using React library (Javascript and
      Typescript). On top of that, a vast knowledge of
      CI/CD procedures, software infrastructure, and
      software architecture.
    </p>
    <mat-card class="about-card">
      <mat-card-title>Education</mat-card-title>
      <img class="ucc-logo" mat-card-image src="../../assets/ucc-logo.png">
      <mat-card-title>Catholic University of Cordoba</mat-card-title>
      <mat-card-subtitle>Systems Engineering Degree (March 2017 - December 2021)</mat-card-subtitle>
    </mat-card>
  </div>
</div>
