<div class="experience">
  <h1>Experience</h1>
  <div class="experience-data">
    <mat-card class="experience-card">
      <img class="meli-logo" mat-card-image src="../../assets/meli-logo.png">
      <div class="experience-card-content">
      <mat-card-title>Software Engineer</mat-card-title>
      <mat-card-subtitle>July 2020 - Present (1.5+ years)</mat-card-subtitle>
      <mat-card-content>
        <ul>
          <li>
            Develop Promotions Central and Online Bulk Editor
            for Global Selling (API + Frontend) to support
            co-funded campaigns, volume discounts, Deal of the
            Day and Lightning.
          </li>
          <li>
            Ensure the protection of personal user data in all our
            team's applications.
          </li>
          <li>
            Migrate the usage of item’s prices in Supply Team
            (Java w/ Clean Architecture) applications (online and
            offline bulk editor, Listings, Questions, GraphQL and
            core libraries) to a new Pricing API which supports
            USD prices for our business unit.
          </li>
          <li>
            Develop the support for new types of deals in Cross
            Border Trade Open Platform API (Deal of the day and
            Lightning deal). Including the update and
            enhancement of the online API docs
          </li>
          <li>
            Expose tech talks related to Clean Architecture, Clean
            Code, SOLID principles, and GOF design patterns as
            part of internal workshops.
          </li>
          <li>
            Develop Questions v2 Frontend for Cross Border
            Trade Global Selling Platform.
          </li>
          <li>
            Develop scalable solutions in Golang and Java for
            Items, Users, Questions and Translations API's.
          </li>
        </ul>
      </mat-card-content>
      </div>
      <mat-divider></mat-divider>
      <div class="experience-card-content">
      <mat-card-title>Jr Software Engineer</mat-card-title>
      <mat-card-subtitle>December 2019 - July 2020 (8 months)</mat-card-subtitle>
      <mat-card-content>
        <ul>
          <li>
            Develop different Go and Java APIs for Cross
            Border Trade migration from an old PHP + MySQL
            monolithic system to Mercado Libre microservices
            infrastructure
          </li>
          <li>
            Develop major features and maintain Go and Java
            APIs used internally for Global Selling and
            externally being wrapped by Mercado Libre Open
            Platform.
          </li>
        </ul>
      </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
