<div class="projects">
  <div class="title">
Some of my projects
  </div>
  <div>
    <mat-card class="projects-card">
      <mat-card-title>Melist</mat-card-title>
      <mat-card-subtitle>2021</mat-card-subtitle>
      <mat-card-content>
        <p>
          Wishlist management using Mercadolibre's Marketplace.
        </p>
        <p>
          Collaborative system with notifications, sales metrics, price tracking and much more.
        </p>
        <p>
          Tech stack: Golang, Javascript, MariaDB
        </p>
        <div class="images">
          <img class="melist-ss" mat-card-image src="../../assets/melist-app.herokuapp.com_lists_75618290.png">
          <img class="melist-ss" mat-card-image src="../../assets/melist-vip.png">
          <img class="melist-ss" mat-card-image src="../../assets/melist-search.png">
          <img class="melist-ss" mat-card-image src="../../assets/melist-search-detail.png">
        </div>
          <div class="link-melist">
          <a href="http://melist-app.herokuapp.com/">Visit Melist</a>
          </div>
      </mat-card-content>
    </mat-card>
        <mat-card class="projects-card">
      <mat-card-title>Web Client & Server for COVID-19 or Pneumonia detector</mat-card-title>
      <mat-card-subtitle>2021</mat-card-subtitle>
      <mat-card-content>
        <p>
          Computer vision algorithms and transformations applied to torax X-Ray images for pathology detection and or medical capacitation purposes.
        </p>
        <p>
          Communicated with a backend with an CNN Model is running and determines if the X-Ray image represents a pathology with ~85% of confidence.
        </p>
        <p>
          Tech stack: Python (Flask, OpenCV2, Pandas, Numpy), Javascript
        </p>
        <div class="images">
        <img class="x-ray-ss" mat-card-image src="../../assets/x-ray-2.png">
        <img class="x-ray-ss" mat-card-image src="../../assets/x-ray-3.png">
        <img class="x-ray-ss" mat-card-image src="../../assets/x-ray-4.png">
        </div>

          <div class="link-melist">
          <a href="https://www.ucc.edu.ar/novedades/ia-deteccion-covid/">University Newspaper (Spanish)</a>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
