<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Where to?</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#lucio">Lucio 👋</a>
      <a mat-list-item href="#about">About 📝</a>
      <a mat-list-item href="#experience">Experience 🤓</a>
      <a mat-list-item href="#projects">Projects 🚀</a>
      <a mat-list-item href="#contact">Contact 🙋‍♂️</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"></mat-icon>
      </button>
      <span>Lucio A. Murature</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-header id="lucio"></app-header>
    <app-about id="about"></app-about>
    <app-experience id="experience"></app-experience>
    <app-projects id="projects"></app-projects>
    <app-contact id="contact"></app-contact>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
