/* You can add global styles to this file, and also import other style files */
@use '@angular/material'as mat;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: 'Nunito');

@include angular-material-typography($custom-typography);

$my-custom-level: mat.define-typography-level($font-family: 'Nunito',
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

html, body { height: 100%; }
body { margin: 0; font-family: "Nunito", "Helvetica Neue", sans-serif; }


